body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

.navigation {
    box-shadow: 0 2px 13px 0 rgba(186, 144, 144, 0.11);
    height: 70px;

    .navigation__container {
        width: 85%;
        height: 100%;
        margin: 0 auto;
        position: relative;
        text-align: center;
    }

    .navigation__logo {
        width: 96px;
        height: 33px;
        float: left;
        padding-top: 18px;
    }

    .navigation__button {
        float: right;
        display: inline-flex;
        align-items: center;
        margin-top: 15px;
        padding: 10px 25px;
        background-color: #f1392f;
        border-radius: 20px;
        box-shadow: 0 5px 10px 0 rgba(186, 51, 43, 0.31);

        .button__icon {
            height: 14px;
            margin-right: 15px;
        }

        .button__text {
            font-size: 18px;
            color: white;
        }
    }

    .navigation__items {
        position: absolute;
        height: 100%;
        left: 0;
        right: 0;
        margin-right: 200px;
        margin-left: 200px;

        .navigation__item {
            padding: 28px 24px 20px 24px;
            border-bottom: 4px solid;
            border-radius: 2px;
            border-color: #f1392f;
        }
    }
}

.header {
    background-image: url('/images/moto-guzzi.jpg');
    height: 544px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.vehicle {
    width: 85%;
    background-color: white;
    margin-top: -90px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    box-shadow: 0 7px 23px 0 rgba(15, 43, 55, 0.1);
}

.vehicle__header-container {
    display: flex;
}

.vehicle__main-info {
    display: inline-block;
    padding: 40px 0 40px 60px;
    background-color: rgba(245, 245, 245, 0.36);

    .main-info__characteristics {
        display: inline-block;
    }

    .main-info__characteristic {
        display: inline-block;

        img {
            width: 55px;
            display: block;
        }

        span {
            display: block;
        }
    }
}

.vehicle__price-contact {
    width: 330px;
    display: inline-block;
}

.vehicle__price-container, .vehicle__contact-container {
    height: 90px;
}