.contact__header {
    margin-top: 70px;
    background-image: url("/images/honda.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 265px;
}

.contact__card--screen-desktop {
    display: none;
}

.contact__card {
    width: 280px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 7px 23px 0 rgba(15, 43, 55, 0.1);
    font-weight: 400;
    font-size: 17px;

    b {
        font-weight: 600;
    }
}

.error,
.success {
    display: none;
}

.contact__card-header {
    font-size: 15px;
    font-weight: 700;
    padding: 20px;
    border-bottom: solid 1px rgba(151, 151, 151, 0.5);
}

.contact__card-bottom {
    padding: 20px;

    p {
        margin-bottom: 30px;
    }
}

.contact__card-telephone, .contact__card-mail {
    display: inline-flex;
    justify-content: center;

    img {
        width: 20px;
        height: 20px;
        margin-right: 25px;
    }
}

.contact__card-mail {
    margin-top: 15px;
}

.question-mark {
    position: absolute;
    color: rgba(241, 57, 47, 0.1);
    font-weight: 700;

    &:nth-child(4) {
        font-size: 200px;
        right: -10px;
        bottom: -70px;
    }

    &:nth-child(5) {
        font-size: 70px;
        right: 100px;
        bottom: -35px;
    }

    &:nth-child(6) {
        font-size: 40px;
        right: 80px;
        bottom: 30px;
    }

    &:nth-child(7) {
        font-size: 20px;
        right: 95px;
        bottom: 80px;
    }
}

.contact__forms {
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 0 23px 0 rgba(15, 43, 55, 0.1);
    width: calc(95% - 20px);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    position: relative;
    margin-bottom: 20px;
}

.contact__card--screen-mobile {
    position: absolute;
    overflow: hidden;
    top: -58px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.contact-forms__title {
    padding-top: 190px;
    font-size: 30px;
    font-weight: 600;
    color: #1f1f1f;
}

.contact-forms__desc {
    font-size: 18px;
    font-weight: 400;
    color: #574c4c;
    margin-top: 15px;
    line-height: 1.3;
}

.contact-forms__input {
    border-radius: 8px;
    background-color: rgba(181, 181, 200, 0.05);
    border: solid 2px rgba(181, 181, 200, 0.43);
    padding: 18px;
    width: calc(100% - 36px);
    box-sizing: border-box;
    width: 100%;
}

.contact-forms__input:focus {
    background-color: #ffffff;
    border: solid 2px #f1392f;
    box-shadow: 0 0 8px 0 rgba(241, 57, 47, 0.19);
    outline: none;
}

.contact-forms__input-title {
    font-size: 20px;
    font-weight: 600;
    color: #2f2323;
    margin-top: 25px;
    margin-bottom: 10px;
}

.contact-forms__button {
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15px;
    border-radius: 20px;
    box-shadow: 0 5px 10px 0 rgba(186, 51, 43, 0.31);
    background-color: #f1392f;
    border: solid 1px #f1392f;
    color: white;
    font-weight: 600;
    font-size: 18px;
}

@media screen and (min-width: 425px) {
    .contact__forms {
        width: calc(85% - 40px);
        padding: 20px;
    }

    .contact-forms__button {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 768px) {
    .contact__container {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -70px;
    }

    .contact__forms {
        margin-top: 0;
    }

    .contact__card--screen-mobile {
        display: none;
    }

    .contact__card--screen-desktop {
        float: right;
        display: inline-block;
        position: relative;
        overflow: hidden;
    }

    .contact__forms {
        width: calc(100% - 280px - 80px - 20px);
        float: left;
        margin-bottom: 50px;
    }

    .contact-forms__title {
        padding-top: 0;
    }
}

@media screen and (min-width: 1024px) {
    .contact__forms {
        padding: 40px;
    }

    #contact {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .input--wrapper {
        width: 48%;

        &:last-of-type {
            width: 100%;
        }
    }
}

@media screen and (min-width: 1440px) {
    .contact__container {
        width: 1224px;
    }
}