.contact__header {
    margin-top: 70px;
    background-image: url("/images/honda.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 265px;
}

.contact__card--screen-desktop {
    display: none;
}

.contact__card {
    width: 280px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 7px 23px 0 rgba(15, 43, 55, 0.1);
    font-weight: 400;
    font-size: 17px;

    b {
        font-weight: 600;
    }
}

.contact__card-header {
    font-size: 15px;
    font-weight: 700;
    padding: 20px;
    border-bottom: solid 1px rgba(151, 151, 151, 0.5);
}

.contact__card-bottom {
    padding: 20px;

    p {
        margin-bottom: 30px;
    }
}

.contact__card-telephone, .contact__card-mail {
    display: inline-flex;
    justify-content: center;

    img {
        width: 20px;
        height: 20px;
        margin-right: 25px;
    }
}

.contact__card-mail {
    margin-top: 15px;
}

.question-mark {
    position: absolute;
    color: rgba(241, 57, 47, 0.1);
    font-weight: 700;

    &:nth-child(4) {
        font-size: 200px;
        right: -10px;
        bottom: -70px;
    }

    &:nth-child(5) {
        font-size: 70px;
        right: 100px;
        bottom: -35px;
    }

    &:nth-child(6) {
        font-size: 40px;
        right: 80px;
        bottom: 30px;
    }

    &:nth-child(7) {
        font-size: 20px;
        right: 95px;
        bottom: 80px;
    }
}

.contact__forms {
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 0 23px 0 rgba(15, 43, 55, 0.1);
    width: calc(95% - 20px);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    position: relative;
}

.contact__card--screen-mobile {
    position: absolute;
    overflow: hidden;
    top: -58px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.contact-forms__title {
    padding-top: 200px;
}