.contact__container {
    width: 85%;
    margin: 0 auto;
    margin-top: -100px;
}

.contact__left-container {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 7px 23px 0 rgba(15, 43, 55, 0.1);
    display: inline-block;
    width: calc(100% - 330px); // Njegov padding, margin od desnog containera
    // i width od desnog containera.

    h3 {
        margin: 0;
        font-size: 30px;
        font-weight: 600;
        color: #1f1f1f;
    }

    p {
        font-size: 18px;
        color: #574c4c;
    }

    span {
        font-size: 20px;
        font-weight: 600;
    }
}

.contact__reason-container {
    display: flex;
    justify-content: space-between;
}

.contact__reason {
    width: 140px;
    height: 140px;
    border-radius: 8px;
    background-color: #f1392f;
    display: inline-block;
}

.contact__right-container {
    width: calc(300px - 30px);
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 7px 23px 0 rgba(15, 43, 55, 0.1);
    float: right;
    display: inline-block;
    padding: 15px 20px;

    .right-container__description {
        font-size: 17px;
        font-weight: 400;
    }

    .right-container__title {
        font-weight: 900;
        font-size: 15px;
        color: #000;
    }

    .right-container__contact {
        display: flex;
        align-items: center;

        img {
            width: 20px;
            margin-right: 20px;
        }
        
        span {
            font-size: 17px;
            font-weight: 400;
        }
    }
}

.contact__input-container {
    padding: 35px 85px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact__input {
    display: inline-block;
    width: 47%;

    span {
        display: block;
    }

    input:focus {
        border-radius: 8px;
        box-shadow: 0 0 8px 0 rgba(241, 57, 47, 0.19);
        background-color: #ffffff;
        border: solid 2px #f1392f;
        outline: none;
    }

    input {
        padding: 20px;
        border-radius: 8px;
        background-color: rgba(181, 181, 200, 0.05);
        border: solid 2px rgba(181, 181, 200, 0.43);
        font-size: 18px;
        width: calc(100% - 40px);
    }
}

.contact__input-info {
    padding: 35px 85px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.5);
}

.message {
    display: block;
    min-height: 100px;
    width: 100%;
    margin-bottom: 80px;
    
    textarea {
        height: 100%;
        width: 100%;
    }
}