body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: #1f1f1f;
    background-color: #fafafa;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

.vehicle__photo {
    display: inline-block;
    width: 224px;
    height: 154px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 5px 11px 0 rgba(28, 22, 22, 0.24);
    margin-right: 35px;
    margin-top: 30px;
}

#menu-toggle {
    display: none;
}

.hamburger-container, .cross-container {
    float: right;
    display: none;
}

.hamburger, .cross {
    height: 33px;
    margin-top: 18px;
}

.navigation {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;

    .navigation__button {
        display: none;
    }
}

.navigation {
    box-shadow: 0 2px 13px 0 rgba(186, 144, 144, 0.11);
    height: 70px;
    background-color: white;

    .navigation__container {
        width: 85%;
        height: 100%;
        margin: 0 auto;
        position: relative;
        text-align: center;
    }

    .navigation__logo {
        width: 96px;
        height: 33px;
        float: left;
        padding-top: 18px;
    }

    .navigation__button {
        float: right;
        display: inline-flex;
        align-items: center;
        margin-top: 15px;
        padding: 10px 25px;
        background-color: #f1392f;
        border-radius: 20px;
        box-shadow: 0 5px 10px 0 rgba(186, 51, 43, 0.31);

        .button__icon {
            height: 14px;
            margin-right: 15px;
        }

        .button__text {
            font-size: 18px;
            color: white;
        }
    }

    .navigation__items {
        position: absolute;
        height: 100%;
        left: 0;
        right: 0;
        margin-right: 200px;
        margin-left: 200px;

        .navigation__item {
            padding: 28px 24px 20px 24px;
        }

        .navigation__item--state-active {
            border-bottom: 4px solid;
            border-radius: 2px;
            border-color: #f1392f;
        }
    }
}

.header {
    height: 544px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: 70px;
}

.vehicle {
    margin-bottom: 55px;
    width: 85%;
    overflow: hidden;
    background-color: white;
    margin-top: -90px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    box-shadow: 0 7px 23px 0 rgba(15, 43, 55, 0.1);
    padding-bottom: 30px;
}

.vehicle__header-container {
    border-bottom: solid 1px rgba(151, 151, 151, 0.1);
    display: flex;
}

html {
    height: 100%;
}

.vehicle__main-info {
    display: flex;
    align-items: center;
    float: left;
    width: calc(100% - 330px - 60px);
    padding: 40px 0 40px 60px;
    background-color: rgba(245, 245, 245, 0.36);

    .main-info__characteristics {
        display: inline-block;
        width: 60%;
    }

    .main-info__characteristic {
        display: inline-block;
        text-align: center;
        width: 30%;

        &:last-child {
            margin-right: 0px;
        }

        span {
            display: block;
            opacity: 0.5;
            font-size: 14px;
            font-weight: 600;
            color: #1c1616;
            margin-top: 20px;
        }

        h2 {
            margin: 0;
            font-size: 20px;
            font-weight: 600;
            color: #1c1616;
            margin-top: 5px;
        }
    }

    .main-info__characteristic-img {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        opacity: 0.6;
        background-color: #ececec;
        margin: 0 auto;

        img {
            display: block;
            margin: 0 auto;
            max-width: 20px;
            padding-top: 11px;
        }
    }

    .main-info__text {
        float: left;
        width: 35%;

        .vehicle-model {
            margin: 10px 0px;
            font-size: 36px;
            font-weight: 600;
            color: #1f1f1f;
            word-break: break-word;
        }

        .vehicle-type {
            letter-spacing: 4.3px;
            color: #5eb66f;
            font-size: 17px;
            font-weight: 900;
            text-transform: uppercase;
        }

        .vehicle-publish {
            font-size: 18px;
            font-weight: 600;
            opacity: 0.55;
            color: #2f2323;
        }
    }
}

.vehicle__price-contact {
    width: 330px;
    float: right;
}

.vehicle__price-container {
    background-color: #5eb66f;
    box-shadow: 0 4px 9px 0 rgba(94, 182, 111, 0.34);
    padding: 25px;
    height: calc(50% - 50px);
    position: relative;
    display: flex;
    align-items: center;

    .eur {
        position: absolute;
        color: white;
        opacity: 0.2;
        font-weight: bold;

        &:nth-of-type(6) {
            top: -15px;
            right: 65px;
            font-size: 60px;
        }

        &:nth-of-type(2) {
            top: 25px;
            right: 40px;
            font-size: 20px;
        }

        &:nth-of-type(3) {
            top: 5px;
            right: 20px;
            font-size: 20px;
        }

        &:nth-of-type(4) {
            top: 25px;
            right: 0px;
            font-size: 40px;
        }

        &:nth-of-type(5) {
            bottom: -15px;
            right: 30px;
            font-size: 40px;
        }
    }
    
    span {
        display: block;
        font-size: 17px;
        color: white;
        font-weight: 600;

        &:last-of-type {
            display: inline-block;
            font-size: 20px;
        }
    }

    h3 {
        display: inline-block;
        margin: 0;
        margin-right: 5px;
        margin-bottom: -6px;
        font-size: 35px;
        font-weight: bold;
        color: white;
    }
}

.vehicle__contact-container {
    padding: 25px;
    height: calc(50% - 50px);
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
    overflow: hidden;

    .vehicle__contact img {
        width: 14px;
    }

    .vehicle__contact {
        display: inline-block;

        span {
            display: block;
            font-size: 17px;
            font-weight: 400;
            color: black;
        }

        a {
            color: #f1392f;
            font-weight: 600;
        }
    }

    .motor-price-icon {
        position: absolute;
        opacity: 0.5;

        &:nth-of-type(1) {
            left: 0;
            bottom: -10px;
            max-width: 50px;
        }

        &:nth-of-type(2) {
            left: -20px;
            max-height: 23px;
        }

        &:nth-of-type(3) {
            top: 15px;
            left: 25px;
            max-height: 15px;
            z-index: 1;
        }

        &:nth-of-type(4) {
            left: 60px;
            margin-top: 20px;
            max-height: 10px;
        }
    }
}

.vehicle__contact-oval {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    z-index: 3;

    img {
        &:nth-child(1) {
            width: 40px;
            display: inline-block;
        }

        &:nth-child(2) {
            max-width: 20px;
            position: absolute;
            left: 10px;
            top: 13px;
        }
    }
}

.vehicle__specifications-section {
    background-color: white;
    border-bottom: solid 1px rgba(151, 151, 151, 0.1);
    padding: 30px 60px;

    h3 {
        margin: 0px;
        font-size: 30px;
        font-weight: 600;
    }
}

.vehicle__specifications {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    width: 600px;
    margin-left: 35px;
}

.vehicle__specification {
    width: calc(100% / 3);
    margin-top: 35px;

    img {
        max-width: 100%;
        max-height: 100%;
        float: right;
    }
}

.vehicle__specification-container {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 10px;
}

.vehicle__specification-text {
    display: inline-block;

    .specification-text__category {
        display: block;
        opacity: 0.5;
        font-size: 14px;
        font-weight: 600;
        color: #1c1616;
    }

    .specification-text__info {
        font-size: 20px;
        font-weight: 600;
        color: #1c1616;
    }
}

.vehicle__equipment-section {
    padding: 30px 60px;
    border-bottom: solid 1px rgba(151, 151, 151, 0.1);

    &:last-child {
        border-bottom: none;
    }

    h3 {
        margin: 0px;
        font-size: 30px;
        font-weight: 600;
    }
    
    p {
        font-weight: 400;
        font-size: 18px;
    }
}

.vehicle__equipment-card {
    padding: 20px 25px;
    border-radius: 9px;
    border: solid 2px #5eb66f;
    display: inline-block;
    position: relative;
    margin-right: 20px;
    margin-top: 20px;

    &:last-child {
        margin-right: 0px;
    }

    span {
        font-size: 20px;
    }

    img {
        width: 20px;
        position: absolute;
        display: inline-block;
        top: -10px;
        right: 10px;
    }
}

.footer {
    border-top: solid 1px rgba(151, 151, 151, 0.1);
}

.footer__container {
    width: 75%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    position: relative;
    border-bottom: solid 1px rgba(151, 151, 151, 0.1);
}

.footer__company-info {
    float: left;
    font-size: 14px;
    color: #767676;
    font-weight: 400;

    img {
        width: 115px;
        display: block;
    }

    p {
        margin: 0;
    }

    .company-info__container {
        width: 230px;
        margin-top: 10px;
    }
}

.footer__contact {
    float: right;

    span {
        display: block;
        color: #767676;

        &:nth-child(1), &:nth-child(2) {
            font-size: 18px;
            font-weight: 600;
        }

        &:nth-child(2) {
            margin-top: 20px;
        }

        &:nth-child(3) {
            font-size: 16px;
            font-weight: 400;
            margin-top: 7px;
        }
    }

    img {
        width: 17px;
        margin-top: 16px;
        margin-right: 16px;
    }
}

.footer__navigation {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    color: #767676;
    
    li {
        margin-right: 50px;

        a {
            color: #767676;
        }

        &:last-child {
            margin-right: 0px;
        }
    }
}

.footer__signature {
    margin: 25px auto;
    text-align: center;
    font-size: 14px;
    color: #757575;
}

.footer__fire {
    display: block;
}

.footer__fuel {
    font-weight: 900;
}

.green {
    color: green !important;
}

.orange {
    color: orange !important;
}

@media screen and (max-width: 1330px) {
    .vehicle__main-info {
        width: calc(100% - 270px - 60px);

        .main-info__text {
            .vehicle-type, .vehicle-publish {
                font-size: 14px;
            }

            .vehicle-model {
                font-size: 30px;
            }
        }

        .main-info__characteristic-img {
            width: 40px;
            height: 40px;
        }

        .main-info__characteristic {
            span {
                font-size: 12px;
                margin-top: 10px;
            }

            h2 {
                font-size: 16px;
            }
        }
    }

    .vehicle__price-contact {
        width: 270px;
    }

    .vehicle__price-container {
        span {
            font-size: 14px;

            &:nth-of-type(2) {
                font-size: 16px;
            }
        }

        h3 {
            font-size: 30px;
        }
    }

    .vehicle__contact-container {
        .vehicle__contact {
            font-size: 15px;
    
            span {
                font-size: 15px;
            }
        }
    }
}

@media screen and (max-width: 1080px) {
    .vehicle {
        width: 95%;
    }

    .footer__container {
        width: 95%;
    }

    .header {
        height: 400px;
    }

    .navigation {
        .navigation__button {
            padding: 8px 20px;
            margin-top: 18px;
    
            .button__text {
                font-size: 16px;
            }
    
            .button__icon {
                height: 12px;
            }
        }
    }

    .navigation {
        .navigation__items {
            .navigation__item {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .vehicle__main-info {
        width: 100%;
    }

    .vehicle__header-container {
        display: block;
    }

    .vehicle__main-info {
        width: calc(100% - 120px);
        display: flex;
        padding: 40px 60px;

        .main-info__characteristics {
            display: flex;
            justify-content: space-between;
        }
    }

    .vehicle__price-contact {
        width: 100%;
        display: flex;
    }

    .vehicle__price-container {
        height: 100%;
        width: calc(50% - 85px);
        padding-left: 60px;
    }

    .vehicle__contact-container {
        height: auto;
        width: calc(50% - 50px);
    }
}

@media screen and (max-width: 900px) {
    .navigation {
        .navigation__button {
            display: none;
        }

        .navigation__items {
            display: none;

            a {
                width: 100%;
            }

            .navigation__item {
                padding: 0;
                border: none;
                font-size: 26px;
                margin-top: 50px;
            }
        }
    }

    .hamburger-container {
        display: block;
    }

    #menu-toggle:checked ~ .hamburger-container {
        display: none;
    }

    #menu-toggle:checked ~ .cross-container {
        display: block;
    }

    #menu-toggle:checked ~ .navigation__items {
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        align-content: flex-start;
        left: 0;
        right: 0;
        top: 70px;
        bottom: 0;
        width: 100%;
        z-index: 10;
        margin: 0;
        background-color: white;
    }

    label {
        cursor: pointer;
    }
}

@media screen and (max-width: 768px) {
    .vehicle__main-info {
        display: block;

        .main-info__text {
            display: block;
            float: none;
            width: auto;
        }

        .main-info__characteristics {
            width: 100%;
            margin-top: 40px;
        }
    }

    .vehicle__specifications {
        width: 500px;

        .specification-text__info {
            font-size: 16px;
        }
    }

    .footer__container {
        width: 85%;
        /* width: calc(100% - 40px);
        padding: 25px 20px; 
        margin-top: 0;*/
    }

    .footer__navigation {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .vehicle__main-info {
        padding: 20px;
        width: calc(100% - 40px);

        .main-info__characteristics {
            margin-top: 20px;
        }
    }

    .vehicle__price-container {
        padding: 20px;
        height: auto;
        width: calc(50% - 40px);
    }

    .vehicle__contact-container {
        height: auto;
        width: calc(50% - 40px);
        padding: 20px;
    }

    .vehicle__specifications-section {
        padding: 20px;

        h3 {
            font-size: 26px;
        }
    }

    .vehicle__specifications {
        margin-left: 15px;
    }

    .vehicle__equipment-section {
        padding: 20px;

        h3 {
            font-size: 26px;
        }

        p {
            font-size: 16px;
        }
    }

    .vehicle__equipment-card {
        padding: 15px 20px;
    }

    .vehicle {
        padding-bottom: 0;
    }

    .mobile-flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: start;
    }

    .vehicle__photo {
        width: 48%;
        margin-right: 0;
    }
}

@media screen and (max-width: 600px) {
    .header {
        height: 265px;
    }

    .vehicle {
        margin-bottom: 20px;
    }

    .footer__container {
        margin-top: 20px;
        padding-bottom: 20px;
    }

    .footer__signature {
        padding-bottom: 120px;
    }

    .vehicle__main-info {
        padding: 15px;
        width: calc(100% - 30px);

        .main-info__characteristic {
            span {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; // BITNO!
            }
        }
    }

    .vehicle__specifications-section {
        padding: 15px;
    }

    .vehicle__specifications {
        margin-left: 0;
        width: 100%;
    }

    .vehicle__specification {
        width: 50%;
        margin-top: 25px;

        .specification-text__info {
            font-size: 20px;
            display: block;
            word-wrap: break-word; // BITNO!
        }
    }

    .vehicle__specification-text {
        width: calc(100% - 40px); // BITNO!
    }

    .vehicle__equipment-section {
        padding: 15px;
    }

    .vehicle__price-contact {
        display: block;
        position: fixed;
        z-index: 8;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .vehicle__price-container {
        display: block;
        width: calc(100% - 40px);
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }

    .vehicle__contact-container {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .footer__company-info {
        float: none;
    }

    .footer__contact {
        float: none;
        margin-top: 30px;
    }

    .vehicle__photo {
        width: 100%;
        height: 200px;
    }
}

@media screen and (max-width: 375px) {
    .vehicle__main-info {
        .main-info__characteristic {
            h2 {
                font-size: 14px;
            }
        }
    }

    .vehicle__specification {
        .specification-text__info {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 350px) {
    .vehicle__equipment-card {
        span {
            font-size: 18px;
        }
    }
}

@media screen and (min-width: 1440px) {
    .navigation {
        .navigation__container {
            width: 1224px;
        }
    }

    .footer__container {
        width: 1080px;
    }
}