body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: #1f1f1f;
    background-color: #fafafa;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

.navigation {
    box-shadow: 0 2px 13px 0 rgba(186, 144, 144, 0.11);
    height: 70px;
    background-color: white;

    .navigation__container {
        width: 85%;
        height: 100%;
        margin: 0 auto;
        position: relative;
        text-align: center;
    }

    .navigation__logo {
        width: 96px;
        height: 33px;
        float: left;
        padding-top: 18px;
    }

    .navigation__button {
        float: right;
        display: inline-flex;
        align-items: center;
        margin-top: 15px;
        padding: 10px 25px;
        background-color: #f1392f;
        border-radius: 20px;
        box-shadow: 0 5px 10px 0 rgba(186, 51, 43, 0.31);

        .button__icon {
            height: 14px;
            margin-right: 15px;
        }

        .button__text {
            font-size: 18px;
            color: white;
        }
    }

    .navigation__items {
        position: absolute;
        height: 100%;
        left: 0;
        right: 0;
        margin-right: 200px;
        margin-left: 200px;

        .navigation__item {
            padding: 28px 24px 20px 24px;
            border-bottom: 4px solid;
            border-radius: 2px;
            border-color: #f1392f;
        }
    }
}

.header {
    height: 544px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.vehicle {
    margin-bottom: 55px;
    width: 85%;
    overflow: hidden;
    background-color: white;
    margin-top: -90px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    box-shadow: 0 7px 23px 0 rgba(15, 43, 55, 0.1);
    padding-bottom: 30px;
}

.vehicle__header-container {
    border-bottom: solid 1px rgba(151, 151, 151, 0.1);
    display: flex;
}

html {
    height: 100%;
}

.vehicle__main-info {
    display: flex;
    align-items: center;
    float: left;
    width: calc(100% - 330px - 60px);
    padding: 40px 0 40px 60px;
    background-color: rgba(245, 245, 245, 0.36);

    .main-info__characteristics {
        display: inline-block;
        width: 60%;
    }

    .main-info__characteristic {
        display: inline-block;
        text-align: center;
        margin-right: 85px;

        &:last-child {
            margin-right: 0px;
        }

        span {
            display: block;
            opacity: 0.5;
            font-size: 14px;
            font-weight: 600;
            color: #1c1616;
            margin-top: 20px;
        }

        h2 {
            margin: 0;
            font-size: 20px;
            font-weight: 600;
            color: #1c1616;
            margin-top: 5px;
        }
    }

    .main-info__characteristic-img {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        opacity: 0.6;
        background-color: #ececec;
        margin: 0 auto;

        img {
            display: block;
            margin: 0 auto;
            max-width: 20px;
            padding-top: 11px;
        }
    }

    .main-info__text {
        float: left;
        width: 40%;

        .vehicle-model {
            margin: 10px 0px;
            width: 80%;
            font-size: 36px;
            font-weight: 600;
            color: #1f1f1f;
        }

        .vehicle-type {
            letter-spacing: 4.3px;
            color: #5eb66f;
            font-size: 17px;
            font-weight: 900;
        }

        .vehicle-publish {
            font-size: 18px;
            font-weight: 600;
            opacity: 0.55;
            color: #2f2323;
        }
    }
}

.vehicle__price-contact {
    width: 330px;
    float: right;
}

.vehicle__price-container {
    background-color: #5eb66f;
    box-shadow: 0 4px 9px 0 rgba(94, 182, 111, 0.34);
    padding: 25px;
    height: calc(50% - 50px);
    position: relative;
    display: flex;
    align-items: center;

    .eur {
        position: absolute;
        color: white;
        opacity: 0.2;
        font-weight: bold;

        &:nth-of-type(6) {
            top: -15px;
            right: 65px;
            font-size: 60px;
        }

        &:nth-of-type(2) {
            top: 25px;
            right: 40px;
            font-size: 20px;
        }

        &:nth-of-type(3) {
            top: 5px;
            right: 20px;
            font-size: 20px;
        }

        &:nth-of-type(4) {
            top: 25px;
            right: 0px;
            font-size: 40px;
        }

        &:nth-of-type(5) {
            bottom: -15px;
            right: 30px;
            font-size: 40px;
        }
    }
    
    span {
        display: block;
        font-size: 17px;
        color: white;
        font-weight: 600;

        &:last-of-type {
            display: inline-block;
            font-size: 20px;
        }
    }

    h3 {
        display: inline-block;
        margin: 0;
        margin-right: 5px;
        margin-bottom: -6px;
        font-size: 35px;
        font-weight: bold;
        color: white;
    }
}

.vehicle__contact-container {
    padding: 25px;
    height: calc(50% - 50px);
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
    overflow: hidden;

    .vehicle__contact img {
        width: 14px;
    }

    .vehicle__contact {
        display: inline-block;

        span {
            display: block;
            font-size: 17px;
            font-weight: 400;
            color: black;
        }

        a {
            color: #f1392f;
            font-weight: 600;
        }
    }

    .motor-price-icon {
        position: absolute;
        opacity: 0.5;

        &:nth-of-type(1) {
            left: 0;
            bottom: -10px;
            max-width: 50px;
        }

        &:nth-of-type(2) {
            left: -20px;
            max-height: 23px;
        }

        &:nth-of-type(3) {
            top: 15px;
            left: 25px;
            max-height: 15px;
            z-index: 1;
        }

        &:nth-of-type(4) {
            left: 60px;
            margin-top: 20px;
            max-height: 10px;
        }
    }
}

.vehicle__contact-oval {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    z-index: 3;

    img {
        &:nth-child(1) {
            width: 40px;
            display: inline-block;
        }

        &:nth-child(2) {
            max-width: 20px;
            position: absolute;
            left: 10px;
            top: 13px;
        }
    }
}

.vehicle__specifications-section {
    background-color: white;
    border-bottom: solid 1px rgba(151, 151, 151, 0.1);
    padding: 30px 60px;

    h3 {
        margin: 0px;
        font-size: 30px;
        font-weight: 600;
    }
}

.vehicle__specifications {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    width: 50%;
    margin-left: 35px;
}

.vehicle__specification {
    width: calc(100% / 3);
    margin-top: 35px;

    img {
        max-width: 100%;
        max-height: 100%;
        float: right;
    }
}

.vehicle__specification-container {
    width: 20px;
    height: 20px;
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.vehicle__specification-text {
    display: inline-block;

    .specification-text__category {
        display: block;
        opacity: 0.5;
        font-size: 14px;
        font-weight: 600;
        color: #1c1616;
    }

    .specification-text__info {
        font-size: 20px;
        font-weight: 600;
        color: #1c1616;
    }
}

.vehicle__equipment-section {
    padding: 30px 60px;
    border-bottom: solid 1px rgba(151, 151, 151, 0.1);

    &:last-child {
        border-bottom: none;
    }

    h3 {
        margin: 0px;
        font-size: 30px;
        font-weight: 600;
    }
    
    p {
        font-weight: 400;
        font-size: 18px;
        width: 830px;
    }
}

.vehicle__equipment-card {
    padding: 20px 25px;
    border-radius: 9px;
    border: solid 2px #5eb66f;
    display: inline-block;
    position: relative;
    margin-right: 20px;
    margin-top: 20px;

    &:last-child {
        margin-right: 0px;
    }

    span {
        font-size: 20px;
    }

    img {
        width: 20px;
        position: absolute;
        display: inline-block;
        top: -10px;
        right: 10px;
    }
}

.vehicle__photo {
    max-width: 224px;
    border-radius: 5px;
    margin-top: 30px;
    margin-right: 35px;
    box-shadow: 0 7px 23px 0 rgba(15, 43, 55, 0.1);
}

.footer {
    border-top: solid 1px rgba(151, 151, 151, 0.1);
}

.footer__container {
    width: 75%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    position: relative;
    border-bottom: solid 1px rgba(151, 151, 151, 0.1);
}

.footer__company-info {
    float: left;
    font-size: 14px;
    color: #767676;
    font-weight: 400;

    img {
        width: 115px;
        display: block;
    }

    p {
        margin: 0;
    }

    .company-info__container {
        width: 230px;
    }
}

.footer__contact {
    float: right;

    span {
        display: block;
    }

    img {
        width: 17px;
    }
}

.footer__navigation {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    color: #767676;
    
    li {
        margin-right: 50px;

        &:last-child {
            margin-right: 0px;
        }
    }
}

.footer__signature {
    margin: 25px auto;
    text-align: center;
    font-size: 14px;
    color: #757575;
}

.footer__fire {
    display: block;
}

.footer__fuel {
    font-weight: 900;
}

.green {
    color: green !important;
}

.orange {
    color: orange !important;
}
