body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: #1f1f1f;
    background-color: #fafafa;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

.navigation {
    box-shadow: 0 2px 13px 0 rgba(186, 144, 144, 0.11);
    height: 70px;
    background-color: white;

    .navigation__container {
        width: 85%;
        height: 100%;
        margin: 0 auto;
        position: relative;
        text-align: center;
    }

    .navigation__logo {
        width: 96px;
        height: 33px;
        float: left;
        padding-top: 18px;
    }

    .navigation__button {
        float: right;
        display: inline-flex;
        align-items: center;
        margin-top: 15px;
        padding: 10px 25px;
        background-color: #f1392f;
        border-radius: 20px;
        box-shadow: 0 5px 10px 0 rgba(186, 51, 43, 0.31);

        .button__icon {
            height: 14px;
            margin-right: 15px;
        }

        .button__text {
            font-size: 18px;
            color: white;
        }
    }

    .navigation__items {
        position: absolute;
        height: 100%;
        left: 0;
        right: 0;
        margin-right: 200px;
        margin-left: 200px;

        .navigation__item {
            padding: 28px 24px 20px 24px;
            border-bottom: 4px solid;
            border-radius: 2px;
            border-color: #f1392f;
        }
    }
}

.header {
    background-image: url('/images/moto-guzzi.jpg');
    height: 544px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.vehicle {
    margin-bottom: 55px;
    width: 85%;
    overflow: hidden;
    background-color: white;
    margin-top: -90px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    box-shadow: 0 7px 23px 0 rgba(15, 43, 55, 0.1);
    padding-bottom: 30px;
}

.vehicle__header-container {
    border-bottom: solid 1px rgba(151, 151, 151, 0.1);
}

.vehicle__main-info {
    display: block;
    float: left;
    width: calc(100% - 330px - 60px);
    padding: 40px 0 40px 60px;
    background-color: rgba(245, 245, 245, 0.36);

    .main-info__characteristics {
        display: inline-block;
        width: 60%;
    }

    .main-info__characteristic {
        display: inline-block;
        text-align: center;
        margin-right: 85px;

        &:last-child {
            margin-right: 0px;
        }

        img {
            width: 55px;
            display: block;
            margin: 0 auto;
        }

        span {
            display: block;
        }

        h2 {
            margin: 0;
        }
    }

    .main-info__text {
        display: inline-block;
        float: left;
        width: 40%;

        .vehicle-model {
            margin: 0;
        }
    }
}

.vehicle__price-contact {
    width: 330px;
    display: inline-block;
    float: right;
}

.vehicle__price-container {
    background-color: #5eb66f;
    box-shadow: 0 7px 23px 0 rgba(15, 43, 55, 0.1);
    padding: 25px;
    
    span {
        display: block;

        &:last-child {
            display: inline-block;
        }
    }

    h3 {
        display: inline-block;
        margin: 0;
    }
}

.vehicle__contact-container {
    background-color: white;
    padding: 25px;

    img {
        width: 40px;
        display: inline-block;
    }

    .vehicle__contact img {
        width: 14px;
    }

    .vehicle__contact {
        display: inline-block;

        span {
            display: block;
        }
    }
}

.vehicle__specifications-section {
    background-color: white;
    border-bottom: solid 1px rgba(151, 151, 151, 0.1);
    padding: 30px 60px;

    h3 {
        margin: 0px;
        font-size: 30px;
        font-weight: 600;
    }
}

.vehicle__specifications {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    width: 50%;
    margin-left: 35px;
}

.vehicle__specification {
    width: calc(100% / 3);
    margin-top: 35px;

    img {
        height: 20px;
        float: left;
    }
}

.vehicle__specification-text {
    display: inline-block;

    .specification-text__category {
        display: block;
    }
}

.vehicle__equipment-section {
    padding: 30px 60px;
    border-bottom: solid 1px rgba(151, 151, 151, 0.1);

    &:last-child {
        border-bottom: none;
    }

    h3 {
        margin: 0px;
        font-size: 30px;
        font-weight: 600;
    }
    
    p {
        font-weight: 400;
        font-size: 18px;
        width: 830px;
    }
}

.vehicle__equipment-card {
    padding: 20px 25px;
    border-radius: 9px;
    border: solid 2px #5eb66f;
    display: inline-block;
    position: relative;
    margin-right: 20px;
    margin-top: 20px;

    &:last-child {
        margin-right: 0px;
    }

    span {
        font-size: 20px;
    }

    img {
        width: 20px;
        position: absolute;
        display: inline-block;
        top: -10px;
        right: 10px;
    }
}

.vehicle__photo {
    max-width: 224px;
    border-radius: 5px;
    margin-top: 30px;
    margin-right: 35px;
    box-shadow: 0 7px 23px 0 rgba(15, 43, 55, 0.1);
}

.footer {
    border-top: solid 1px rgba(151, 151, 151, 0.1);
}

.footer__container {
    width: 75%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    position: relative;
    border-bottom: solid 1px rgba(151, 151, 151, 0.1);
}

.footer__company-info {
    float: left;
    font-size: 14px;
    color: #767676;
    font-weight: 400;

    img {
        width: 115px;
        display: block;
    }

    p {
        margin: 0;
    }

    .company-info__container {
        width: 230px;
    }
}

.footer__contact {
    float: right;

    span {
        display: block;
    }

    img {
        width: 17px;
    }
}

.footer__navigation {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    color: #767676;
    
    li {
        margin-right: 50px;

        &:last-child {
            margin-right: 0px;
        }
    }
}

.footer__signature {
    margin: 25px auto;
    text-align: center;
    font-size: 14px;
    color: #757575;
}

.footer__fire {
    display: block;
}

.footer__fuel {
    font-weight: 900;
}