.samozanav {
    margin-top: 70px;
    height: 300px;
    background-color: red;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

.redirect--desktop {
    display: none;
}

.redirect__main-info-container {
    border-radius: 9px;
    background-color: #fff;
    width: calc(95% - 30px);
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    box-shadow: 0 0 26px 0 rgba(28, 37, 27, 0.08);
    padding: 25px 15px;
}

.redirect__main-info {
    h2 {
        font-size: 30px;
        font-weight: 600;
        color: #1f1f1f;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    p {
        font-size: 18px;
        color: #000;
        font-weight: 400;
        line-height: 1.3;
    }
}

.redirect__side-info-arrow {
    width: 20px;
}

.redirect__side-info-container {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.redirect__side-info {
    padding: 15px 25px;
    padding-left: 20px;
    border-radius: 9px;
    background-color: #ffffff;
    box-shadow: 0 0 26px 0 rgba(28, 37, 27, 0.08);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.redirect__side-info-label {
    text-align: left;
    width: 152px;
    font-size: 23px;
    font-weight: 600;
    color: #f1392f;
}

.process-section {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

    h2 {
        font-size: 36px;
        font-weight: 600;
        color: #1f1f1f;
        margin-bottom: 20px;
    }

    p {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.3;
        color: #1f1f1f;
    }
}

.process {
    display: flex;
    align-items: center;
    margin-top: 30px;
    
    span {
        font-size: 24px;
        font-weight: 600;
    }
}

.process__icon {
    width: 70px;
    display: inline-block;
    margin-right: 20px;
}

.why {
    margin-top: 50px;
    margin-bottom: 50px;
    // background-image: linear-gradient(to bottom, rgba(244, 250, 253, 1), rgba(159, 222, 254, 0));
    background-image: url('/images/plavi-val.svg');
    background-size: cover;
    background-position: center -60px;
    background-repeat: no-repeat;
}

.why__container {
    width: 90%;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.why__title {
    font-size: 36px;
    font-weight: 600;
    color: #1f1f1f;
    margin-bottom: 30px;
}

.why__card {
    background-color: white;
    border-radius: 9px;
    box-shadow: 0 11px 33px 0 rgba(28, 37, 27, 0.1);
    padding: 15px;
    margin-top: 20px;

    img {
        float: left;
        margin-right: 15px;
    }
}

.why__card-wrapper {
    float: right;
    width: calc(100% - 90px);

    h3 {
        font-size: 24px;
        font-weight: 600;
        color: #1f1f1f;
        margin-bottom: 5px;
    }

    p {
        font-size: 16px;
        color: #4c5557;
        font-weight: 400;
    }
}

.customers {
    background-image: url('/images/crveni-val.svg');
    background-size: cover;
    background-position: center 50px;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.customers__container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    h3 {
        font-size: 36px;
        font-weight: 600;
        color: #1f1f1f;
    }

    p {
        margin-top: 20px;
        font-size: 18px;
        color: #4c5557;
        font-weight: 400;
        line-height: 1.3;
    }
}

.customer__card {
    height: 330px;
    width: 250px;
    display: inline-block;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45)), url('/images/zadovoljan.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 8px;
    position: relative;
    margin-right: 20px;
    
    &:last-child {
        margin-right: 0;
    }
}

.customers__slider {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 450px;
    padding: 30px;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }
}

.card__info-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 15px 0 rgba(11, 18, 27, 0.07);
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: calc(220px - 36px);
    top: 100%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    white-space: normal;
    padding: 7px 18px;
    text-align: center;
}

.card__model {
    font-weight: 600;
    font-size: 11px;
    color: white;
    border-radius: 6px;
    background-image: linear-gradient(to bottom, #fd8f17, #fd7911);
    padding: 4px 10px;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
}

.card__stars {
    margin-top: 8px;
    margin-bottom: 8px;
}

.card__star {
    width: 10px;
    margin-right: 7px;

    &:last-child {
        margin-right: 0;
    }
}

.card__quote {
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    color: #1e1e1e;
    margin-bottom: 8px;
}

.customer__redirect {
    width: calc(90% - 30px);
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    display: block;
    border-radius: 6px;
    background-color: rgba(196, 30, 34, 0.15);
}

.customer__redirect--desktop, .customers__container--desktop {
    display: none;
}

.customer__redirect-icon {
    width: 40px;
    float: left;
    margin-right: 15px;
}

.customer__redirect-text {
    float: left;
    width: calc(100% - 55px);
}

.customer__redirect-top {
    font-size: 16px;
    font-weight: 600;
    color: #c41e22;
    margin-bottom: 5px;
}

.customer__redirect-bottom {
    font-size: 14px;
    font-weight: 700;
    color: #c41e22;

    img {
        margin-left: 5px;
        width: 17px;
    }
}

.more-info__wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.customers {
    .njuskalo, .nacini-placanja {
        width: calc(90% - 40px);
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
    }
}

@media screen and (min-width: 425px) {
    .redirect__side-info-container {
        width: 310px;
    }

    .redirect__side-info {
        margin-top: 25px;
    }

    .customer__redirect-bottom {
        font-size: 16px;
    }
}

@media screen and (min-width: 600px) {
    .redirect__side-info-container {
        width: 90%;
    }

    .redirect__side-info {
        box-sizing: border-box;
        width: 48%;
        display: inline-flex;

        &:nth-child(1) {
            float: left;
        }

        &:nth-child(2) {
            display: none;
        }

        &:nth-child(3) {
            float: right;
        }
    }
}

@media screen and (min-width: 768px) {
    .redirect {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }

    .redirect__main-info-container {
        width: calc(100% - 310px - 30px - 25px);
        margin-top: 0;
        margin-right: 25px;
    }

    .redirect__side-info-container {
        display: flex;
        flex-wrap: wrap;
        width: 310px;
    }

    .redirect__side-info {
        margin-top: 12px;
        width: 100%;
        display: flex;

        &:first-child {
            margin-top: 0;
        }

        &:nth-child(2) {
            display: flex;
        }
    }

    .processes {
        display: flex;
        flex-wrap: wrap;
    }

    .process {
        width: 50%;
    }

    .process-section {
        margin-top: 200px;
    }

    .why__card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .why__card {
        width: calc(50% - 40px);
    }

    .redirect--mobile {
        display: none;
    }

    .redirect--desktop {
        display: flex;
    }

    .samozanav {
        position: relative;
        height: 600px;
    }

    .redirect {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
    }

    .customer__redirect {
        width: 300px;
    }

    .customers {
        padding-bottom: 40px;
        margin-bottom: 0;

        .njuskalo, .nacini-placanja {
            width: 300px;
            display: inline-block;
        }

        .njuskalo {
            margin-right: 15px;
        }
    }

    .customers__bottom-wrapper {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
}

@media screen and (min-width: 1024px) {
    .why {
        background-position: unset;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .why__card {
        width: calc(100%/3 - 40px);
    }

    .why__title {
        width: 600px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 1200px) {
    .customers {
        .njuskalo, .nacini-placanja {
            width: 400px;
        }
    }
}

@media screen and (min-width: 1440px) {
    .redirect {
        width: 1080px;
    }

    .redirect__main-info-container {
        padding: 30px 25px;
        width: calc(100% - 310px - 50px - 25px);
    }

    .redirect__main-info-image {
        float: left;
    }

    .redirect__main-info {
        float: left;
        width: calc(100% - 56px - 25px);
        margin-left: 25px;
        
        h2 {
            margin-top: 0;
            font-size: 34px;
        }

        p {
            font-size: 22px;
        }
    }

    .process-section {
        width: 1224px;
        margin-top: 250px;
    }

    .process-section__text-wrapper, .processes {
        display: inline-block;
    }

    .process-section__text-wrapper {
        width: 500px;
        float: left;
    }

    .processes {
        width: 620px;
        float: right;
    }

    .process {
        display: inline-flex;
        width: 49%;

        &:nth-child(1), &:nth-child(2) {
            margin-top: 0;
        }

        span {
            width: 90%;
        }
    }

    .why__card-container {
        justify-content: space-between;
        width: 1224px;
        margin-left: auto;
        margin-right: auto;
    }

    .why__card {
        height: 150px;
        width: 330px;
        margin-right: 45px;

        &:last-child {
            margin-right: 0;
        }
    }

    .why__card-wrapper {
        margin-top: 20px;

        h3 {
            font-size: 37px;
        }

        p {
            font-size: 18px;
        }
    }

    .customers__container--desktop, .customer__redirect--desktop {
        display: inline-block;
        margin-left: 70px;
        margin-top: 15px;
    }

    .customers__container--mobile, .customer__redirect--mobile {
        display: none;
    }

    .customers__slider {
        float: left;
        position: relative;
    }

    .customers__container {
        width: 480px;
    }

    .customers__slider {
        width: calc(50% - 60px);
        padding-top: 0;
    }

    .customer__redirect {
        background-color: #f2d2d2;
        margin-top: 60px;
        margin-left: 0;
    }

    .customer__card {
        width: 300px;
        height: 400px;
        margin-right: 36px;
    }

    .card__info-container {
        width: calc(267px - 36px);
    }

    .customers__bottom-wrapper {
        justify-content: space-between;
        width: 1224px;
        margin-top: 200px;
    }

    .customers {
        background-image: url("/images/1440-crvena.png");
        background-position: center center;

        .njuskalo, .nacini-placanja {
            width: calc(580px - 60px);
            padding: 30px;
        }

        .njuskalo__title {
            font-size: 30px;
            font-weight: 600;
        }

        .njuskalo__desc {
            font-size: 18px;
            margin-right: 40px;
        }

        .njuskalo__link {
            font-size: 16px;
        }

        .njuskalo__title, .njuskalo__link, .njuskalo__desc {
            margin-left: 130px;
        }

        .njuskalo__img {
            right: unset;
            left: -30px;
            height: 175px;
            transform: scaleX(1);
        }

        .nacini-placanja__ {
            &title {
                font-size: 30px;
                font-weight: 600;
            }

            &desc {
                font-size: 18px;
                margin-right: 150px;
            }

            &link {
                font-size: 16px;
            }

            &img {
                height: 175px;
                right: -30px;
                bottom: -1px;
            }
        }
    }
}
