.njuskalo {
    padding: 15px 20px;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, rgba(253, 206, 1, 0.91), #fdcd01);
    box-shadow: 0 6px 9px 0 rgba(253, 198, 3, 0.39);
    color: white;
    position: relative;
}

.njuskalo__title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.njuskalo__desc {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
}

.njuskalo__link {
    color: white;
    font-size: 15px;
    font-weight: 600;

    img {
        width: 15px;
        margin-left: 5px;
    }
}

.njuskalo__img {
    position: absolute;
    height: 64px;
    right: -10px;
    bottom: 0;
    transform: scaleX(-1);
}