body {
    z-index: -3;
}
.motor-list__header {
    background-image: url('/images/driving-motorcycle.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.64));
        z-index: 0;
    }

    .motor-list__header-container {
        width: 85%;
        margin: 0 auto;
        padding-top: 90px;
    }

    .header__title {
        font-size: 64px;
        color: white;
        font-weight: 600;
        margin: 0;
        z-index: 1;
    }

    .header__subtitle {
        font-size: 25px;
        font-weight: 400;
        color: white;
        width: 720px;
    }

    .header__filters {
        position: absolute;
        bottom: -36px;
        background-color: #fff;
        box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.11);
        border-radius: 10px;
        width: 698px;
        left: 50%;
        margin-left: calc(-698px / 2);
    }

    .header__filter {
        display: inline-block;
        padding: 10px 30px;
        border-right: solid 1px #979797;
        text-align: center;

        &:last-child {
            border-right: none;
        }

        img {
            height: 25px;
            display: block;
            margin: 0 auto;
            margin-bottom: 10px;
        }
    }
}

.motor-list {
    width: 85%;
    margin: 100px auto;
}

.motor-list__title {
    font-size: 36px;
    font-weight: 600;
}

.motor-list__card {
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 11px 26px 0 rgba(27, 32, 37, 0.08);
    overflow: hidden;
    height: 160px;
    display: flex;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0px;
    }

    .card__image {
        background-image: url("/images/moto-guzzi.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;
        height: 100%;
        width: 300px;
        display: inline-block;
    }

    .card__container {
        display: flex;
        width: calc(100% - 300px);
        padding: 40px 30px;
        justify-content: space-between;
    }

    .card__specifications {
        display: inline-flex;
        width: 250px;
        flex-wrap: wrap;
    }

    .card__specification {
        display: inline-block;
        width: 50%;

        img {
            width: 15px;
            float: left;
        }
    }

    .card__main-info {
        h3 {
            margin: 0px 0 5px 0;
            font-size: 30px;
            font-weight: 600;
        }
    }

    .card__main-info__category {
        letter-spacing: 3.5px;
        color: #f1392f;
        font-weight: 900;
        font-size: 14px;
    }
}