.motor-list__header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.64)), url('/images/driving-motorcycle.jpg');
    margin-top: 70px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 40px 20px;
    color: white;
    text-align: center;
}

.samozanav {
    background-image: url("/images/pexels-photo-980382.jpeg");
    background-position: center -400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.motor-list__header-title {
    font-size: 30px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

.motor-list__header-desc {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 0;
}

.sold {
    filter: grayscale(100%);
}

.motor-list__filter {
    display: flex;
    align-items: center;
    padding: 17px;
    border-bottom: 1px solid #f4f4f4;
    position: relative;
    background-color: white;

    &:first-child {
        background-color: #f8fcf8;
    }

    &:last-child {
        box-shadow: 0 5px 13px 0 rgba(186, 144, 144, 0.2);
    }

    span {
        font-size: 17px;
        font-weight: 700;
    }
}

.motor-list__filter-imgs {
    display: inline-block;
    width: 100px;
}

.motor-list__filter-img {
    width: 70px;
}

.motor-list__filter-indicator {
    width: 5px;
    height: 28px;
    border-radius: 2.5px;
    background-color: #66ba76;
    box-shadow: 0 0 4px 0 rgba(94, 182, 111, 0.53);
    position: absolute;
    left: 0;
    margin-top: -1px;
}

// Collapsible

.toggle {
    display: none;
}

.lbl-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    padding: 17px;
    border-bottom: 1px solid #f4f4f4;
    background-color: white;
    cursor: pointer;
    transition: all 0.25s ease-out;
}

.arrow-circle {
    height: 23px;
    width: 23px;
    background-color: #f1392f;
    box-shadow: 1px 0 4px 0 rgba(209, 49, 40, 0.43);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;

    img {
        width: 10px;
    }

    transition: all 0.25s ease-out;
}

.motor-list__filters {
    max-height: 0px;
    overflow: hidden;
    
    transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .motor-list__filters {
    max-height: 500px;
}

.toggle:checked + .lbl-toggle > .arrow-circle {
    transform: rotate(180deg);
}

// End of collapsible

.motor-list {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.motor-list__main-title {
    margin-left: 15px;
    font-weight: 600;
}

.motor-list__card {
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 23px 0 rgba(15, 43, 55, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    display: block;

    .card__image {
        height: 200px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .card__main-info {
        padding: 15px;
        border-bottom: 1px solid #cacaca;
    }

    .card__date {
        display: none;
    }

    .card__main-info-right--desktop {
        display: none;
    }

    .card__main-info-left, .card__main-info-right {
        width: 50%;
    }

    .card__main-info-left {
        float: left;
    }

    .card__main-info-right {
        float: right;
        text-align: right;
    }

    .card__category {
        letter-spacing: 3.5px;
        color: #f1392f;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .card__title {
        font-weight: 600;
        font-size: 25px;
        color: #2e2e2e;
        margin-top: 5px;
    }

    .card__price-hrk {
        font-size: 25px;
        font-weight: 700;
        color: #5eb66f;
        margin-top: -3px;
    }

    .card__price-eur {
        font-size: 20px;
        font-weight: 600;
        color: #5eb66f;
    }

    .card__specification {
        display: flex;

        &:last-child {
            display: none;
        }
    }

    .card__specifications {
        padding: 15px;
        display: flex;
        justify-content: space-between;
    }

    .card__specification-icon {
        width: 15px;
        height: 15px;
        float: left;
        margin-right: 10px;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .card__specification-text {
        .specification-text__category, .specification-text__info {
            display: block;
            font-weight: 600;
            color: #1c1616;
        }

        .specification-text__category {
            font-size: 14px;
            opacity: 0.5;
        }

        .specification-text__info {
            font-size: 17px;
        }
    }
}

@media screen and (min-width: 600px) {
    .motor-list__card {
        display: flex;

        .card__image {
            width: 40%;
            height: 220px;
        }

        .card__main-info, .card__specifications {
            height: calc(50% - 30px);
        }

        .card__main-info {
            display: flex;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;
        }

        .card__main-info-container {
            width: 60%;
        }

        .card__specifications {
            align-items: center;
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    .motor-list__filter {
        padding-left: 20%;
        padding-right: 20%;
    }

    .motor-list__header {
        padding: 40px;
    }

    .motor-list__header-title {
        font-size: 36px;
    }

    .motor-list__header-desc {
        font-size: 18px;
    }
}

@media screen and (min-width: 768px) {
    .motor-list__header {
        padding: 100px 200px 100px 80px;
        text-align: left;
        height: 200px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        align-content: flex-start;
        height: auto;
    }

    .motor-list__header-title {
        font-size: 48px;
    }

    .motor-list__header-desc {
        font-size: 20px;
    }

    .motor-list__header {
        display: block;
        padding-left: 7.5%;
        padding-right: 20%;
    }
}

@media screen and (min-width: 1024px) {
    .lbl-toggle {
        display: none;
    }

    .motor-list {
        width: 85%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .motor-list__filter-indicator {
        display: none;
    }

    .motor-list__filters {
        display: table;
        max-height: unset;
        margin-left: auto;
        margin-right: auto;
        margin-top: -37px;
        background-color: white;
        font-size: 0;
        box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.11);
        border-radius: 10px;
        overflow: unset;
    }

    .motor-list__filter {
        display: inline-block;
        padding: 10px 30px;
        border-bottom: none;
        border-right: 1px solid #cacaca;
        text-align: center;

        &:first-child {
            background-color: #5eb66f;
            box-shadow: 0 4px 7px 0 rgba(70, 153, 86, 0.34);
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        &:last-child {
            border-right: none;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            box-shadow: none;
        }

        .motor-list__filter-title {
            color: #1f1f1f;
            font-weight: 600;
        }
    }

    .motor-list__filter-imgs {
        display: block;
        margin: 0 auto;
        text-align: center;
        width: unset;
        margin-bottom: 10px;
    }

    .motor-list__card {
        .card__image {
            width: 35%;
        }

        .card__main-info-container {
            width: 65%;
        }

        .card__title {
            font-size: 30px;
            margin-bottom: 5px;
        }

        .card__specification-text {
            .specification-text__category {
                font-size: 16px;
            }

            .specification-text__info {
                font-size: 19px;
            }
        }

        .card__specification:last-child {
            display: flex;
        }

        .card__price-hrk {
            font-size: 30px;
        }

        .card__main-info {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}

@media screen and (min-width: 1440px) {
    .motor-list__header-title {
        font-size: 64px;
        margin-top: -10px;
    }

    .motor-list__header-desc {
        font-size: 25px;
        padding-right: 20%;
        margin-bottom: 5px;
    }

    .motor-list__main-title {
        font-size: 36px;
        margin-bottom: 40px;
    }

    .motor-list__card {
        height: unset;

        .card__image {
            width: 300px;
            height: unset;
        }

        .card__main-info-container {
            width: calc(100% - 360px);
            padding: 40px 30px;
            display: flex;
            justify-content: space-between;
        }

        .card__main-info {
            display: inline-block;
            padding: 0;
            margin: 0;
            border: none;
            height: unset;
            width: 30%;
        }

        .card__specifications {
            display: inline-flex;
            padding: 0;
            margin: 0;
            width: 30%;
            height: unset;
            flex-wrap: wrap;
        }

        .card__specification {
            width: 50%;
        }

        .card__main-info-right {
            display: none;
        }

        .card__main-info-left {
            float: none;
            width: 30%;
            margin: 0;
            width: unset;
        }

        .card__main-info-right--desktop {
            display: inline-block;
            width: 30%;
            float: none;
            text-align: left;
        }

        .card__price-tag {
            font-size: 17px;
            font-weight: 700;
            color: #1f1f1f;
            margin-bottom: 5px;
        }

        .card__price-hrk {
            font-size: 35px;
        }

        .card__date {
            display: block;
            color: #2f2323;
            opacity: 0.55;
            font-size: 18px;
        }
    }

    .motor-list__header {
        padding-left: 0;
        padding-right: 0;

        

        .motor-list__header-title, .motor-list__header-desc {
            width: 1224px;
            margin-left: auto;
            margin-right: auto;
            text-align: left;
            padding-left: 0;
            padding-right: 0;
        }
    }

    .motor-list {
        width: 1224px;
    }
}